<div class="container">
  <h1>Advanced Figure Search</h1>

  <%= form_tag("search", method: "get") do %>
    <div id="advanced-figure-search">
      <div class="node">
        <button class="left" type="button">Left</button>
        <input class="center" type="text" name="q[node]">
        <button class="right" type="button">Right</button>
      </div>
    </div>
    <%= submit_tag("Search") %>
  <% end %>

  <p><%= @echo %></p>
</div>
